
@model IList<AActivity.Models.SchedulingTripDetail>

@{
    ViewData["Title"] = "تفاصيل";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int bb = ViewBag.tripCount;
}

<div class="card mt-5 mb-3">
    <h5 class="card-header bg-primary-bold ">
        <i class="fas fa-info"></i>
        تفاصيل رحلات الجهة التعليمية
    </h5>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <ul class="list-group list-group-horizontal m-3">
                <li class="list-group-item bg-primary text-white">الجهة التعليمية</li>
                <li class="list-group-item">@ViewBag.EducationalBodies.Name</li>
                <li class="list-group-item bg-primary text-white">الفترة </li>
                <li class="list-group-item">
                    السنة الدراسية :  @ViewBag.SchedulingTripHeadId.AcademicYear / @ViewBag.SchedulingTripHeadId.Semester / التاريخ : @ViewBag.SchedulingTripHeadId.FromDate.ToString("dd / MM / yyyy") -  @ViewBag.SchedulingTripHeadId.ToDate.ToString("dd / MM / yyyy")
                </li>
            </ul>
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>نوع الرحلة</th>
                        <th>التريخ</th>
                        <th>ملاحظات</th>
                    </tr>
                </thead>
                <tbody>


                    @{ int c = 1;}
                    @for (int i = 0; i < ViewBag.tripCount; i++)
                    {
                        <tr>
   
                            <td>@c</td>
                            <td>
                                @Model[i].TripType.Name

                            </td>
                         
                            <td>
                                @Model[i].TripDate.ToString("dd - MM - yyyy")
                            </td>
                            <td>
                                @Model[i].Notce
                            </td>
                        </tr>
                        c++;
                    }

                </tbody>
            </table>

            <div class="form-group col-12 mt-5">


                <a class="btn  btn-outline-primary btn-lg" asp-action="Details" asp-route-id="@ViewBag.SchedulingTripHeadId.Id" asp-controller="SchedulingTripHeads"> <i class="fas fa-share-square"></i> الرحلات </a>
                <a class="btn  btn-outline-success btn-lg" asp-action="Edit" asp-route-id="@ViewBag.EducationalBodies.Id" asp-controller="SchedulingTripDetails"><i class="fas fa-edit"></i>تعديل  </a>
                <a class="btn  btn-outline-danger btn-lg" asp-action="Delete" asp-route-id="@ViewBag.EducationalBodies.Id" asp-controller="SchedulingTripDetails"><i class="fas fa-trash"></i>حذف  </a>


            </div>
        </form>
    </div>
</div>



