@model AActivity.Models.Letter

@{
    ViewData["Title"] = "التوقيع";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int userId = int.Parse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value);


}



@functions{


    bool signutreRole(int user_id, string roleName)
    {
        var getSignutrelist = ViewBag.signutre as IEnumerable<AActivity.Models.Signature>;

        foreach (var b in getSignutrelist)
        {
            if (b.UserId == user_id && b.SignatureRole == roleName)
            {
                return true;
            }

            if (b.SignatureRole == roleName)
            {
                foreach (var c in b.SignutreDelegates.Where(s => s.SignatureId == b.Id).ToList())
                {
                    if (c.UserId == user_id)
                    {
                        if (c.Status == true && c.EndAtDate > DateTime.Now)
                        {
                            return true;

                        }
                    }
                }
            }

        }

        return false;

    }
}


<style>
    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
</style>
<a class="btn  btn-primary  text-white mt-3 mb-3" asp-controller="Letters" asp-action="Index">
    <i class="fas fa-caret-right"></i>
    رجوع
</a>
<ul class="list-group list-group-horizontal ">

    <li class="list-group-item  bg-primary text-white"> الجهة التعليمية </li>
    <li class="list-group-item">@Model.TripBooking.SchedulingTripDetail.EducationalBody.Name </li>
    <li class="list-group-item  bg-primary text-white"> نوع الرحلة   </li>
    <li class="list-group-item"> @Model.TripBooking.SchedulingTripDetail.TripType.Name</li>
    <li class="list-group-item  bg-primary text-white">  الى   </li>
    <li class="list-group-item">@Model.TripBooking.TripLocationName </li>
  
    <li class="list-group-item  bg-primary text-white">  التاريخ   </li>
    <li class="list-group-item"> @Model.TripBooking.SchedulingTripDetail.TripDate.ToString("yyyy-MM-dd")</li>
</ul>
<hr />

@{ var index = 0;}
@foreach (var ad in Model.LetterAdvancedDelegations.ToList())
{
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <p class="d-inline  ">
                <i class="fas fa-money-check-alt"></i>
                سلفة من صندوق الطالب  
            </p>
        </div>
        <div class="card-body">
            <table class="table table-bordered" >
                <tr>
                    <th>الموظف</th>
                    <th>رقم الجوال</th>
                    <th> المبلغ المخصص للفعالية</th>
                </tr>
                <tr>
                    <td>@ad.CreditToEMployee</td>
                    <td>@ad.EmployeeMobile</td>
                    @{ float total = ad.Amount + ad.AmountAdditional;}
                    <td>@total  </td>
                </tr>
            </table>



        </div>
        <div class="card-footer text-white">
            @if (signutreRole(userId, "رئيس قسم النشاط الاجتماعي"))
            {
                @await Html.PartialAsync("Signutres/_Sig1.cshtml",
                        ad,
                        new ViewDataDictionary(ViewData) { { "index", index } });
                index++;
            }
            else if (signutreRole(userId, "مدير إدارة النشاط"))
            {
                @await Html.PartialAsync("Signutres/_Sig2.cshtml",
                        ad,
                        new ViewDataDictionary(ViewData) { { "index", index } });
                index++;
            }
            else if (signutreRole(userId, "وكيل العمادة لشؤون النشاط"))
            {
                @await Html.PartialAsync("Signutres/_Sig3.cshtml",
                           ad,
                           new ViewDataDictionary(ViewData) { { "index", index } });
                index++;
            }
            else if (signutreRole(userId, "عميد شؤون الطلاب"))
            {
                @await Html.PartialAsync("Signutres/_Sig4.cshtml",
                       ad,
                       new ViewDataDictionary(ViewData) { { "index", index } });
                index++;
            }




        </div>
    </div>


}

