@model AActivity.Models.TripBooking
@{
    ViewData["Title"] = "انشاء";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var letter = Model.Letters.FirstOrDefault(e=>e.TypeLetter==4);
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>اسم الموظف</th>
            <th> الحالة</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1;}
        @foreach (var emp in Model.TripDelegates.Where(e=>e.Confirmed).ToList())
        {
        <tr>
            <th>@i</th>
            <td>@emp.EmployeeName</td>
            <td>منتدب</td>
            <td>
                <a asp-action="Create" asp-route-letterId="@letter.Id" asp-route-delegateId="@emp.Id" asp class="btn btn-primary btn-sm text-white">
                    <i class="fas fa-plus"></i>
                </a>
                <a asp-action="Create" asp-route-letterId="@letter.Id" asp-route-delegateId="@emp.Id" asp class="btn btn-danger btn-sm text-white">
                    <i class="fas fa-minus"></i>
                </a>
                <a asp-action="Create" asp-route-letterId="@letter.Id" asp-route-delegateId="@emp.Id" asp class="btn btn-success btn-sm text-white">
                    <i class="fas fa-eye"></i>
                </a>
            </td>
        </tr>
            i++;
        }
    <tr>
        <th>@i</th>
        <td>@Model.SchedulingTripDetail.EducationalBody.User.FullName</td>
        <td>مشرف جهة تعليمية </td>
        <td>
            <a asp-action="Create" asp-route-letterId="@letter.Id" asp-route-delegateId="0" asp class="btn btn-primary btn-sm text-white">
                <i class="fas fa-plus"></i>
            </a>
            <a asp-action="Create" asp-route-letterId="@letter.Id" asp-route-delegateId="0" asp class="btn btn-danger btn-sm text-white">
                <i class="fas fa-minus"></i>
            </a>
            <a asp-action="Create" asp-route-letterId="@letter.Id" asp-route-delegateId="0" asp class="btn btn-success btn-sm text-white">
                <i class="fas fa-eye"></i>
            </a>

        </td>
    </tr>
    </tbody>
</table>