@model AActivity.Models.Letter

@{
    ViewData["Title"] = "التوقيع";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int userId = int.Parse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value);


}





<style>
    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
</style>
<div class="card mt-5">
    <div class="card-header bg-primary text-white">
        <p class="d-inline  ">
            <i class="fas fa-bus "></i>
            تأمين تغذية
        </p>
    </div>
    <div class="card-body">
        @if (TempData["MessageError"] != null)
        {
            <div class="alert alert-danger">@TempData["MessageError"]</div>
        }
        @if (TempData["MessageSuccess"] != null)
        {
            <div class="alert alert-success">@TempData["MessageSuccess"]</div>
        }
        <ul class="list-group list-group-horizontal ">

            <li class="list-group-item  bg-primary text-white">الجهة التعليمية</li>
            <li class="list-group-item">@Model.TripBooking.SchedulingTripDetail.EducationalBody.Name  </li>
            <li class="list-group-item  bg-primary text-white">المشرف على الرحلة </li>
            <li class="list-group-item"> @Model.LetterFoods.FirstOrDefault().User.FullName  </li>
            <li class="list-group-item bg-primary text-white">رقم جوال المشرف  </li>
            <li class="list-group-item">@Model.LetterFoods.FirstOrDefault().User.PhoneNumber </li>
        </ul>
        <ul class="list-group list-group-horizontal mt-3">
            <li class="list-group-item bg-primary text-white">عدد الوجبات </li>
            <li class="list-group-item">@Model.LetterFoods.FirstOrDefault().QtyMeals </li>
            <li class="list-group-item bg-primary text-white"> تاريخ اول وجبة  </li>
            <li class="list-group-item">@Model.LetterFoods.FirstOrDefault().FirstMealDate.ToString("dd-MM-yyyy")</li>
            <li class="list-group-item bg-primary text-white"> نوع اول وجبة  </li>
            <li class="list-group-item">@Model.LetterFoods.FirstOrDefault().FirstMealTime</li>
            <li class="list-group-item bg-primary text-white"> تاريخ آخر وجبة  </li>
            <li class="list-group-item">@Model.LetterFoods.FirstOrDefault().LastMealDate.ToString("dd-MM-yyyy")</li>
            <li class="list-group-item bg-primary text-white"> نوع آخر وجبة  </li>
            <li class="list-group-item">@Model.LetterFoods.FirstOrDefault().LastMealTime</li>

        </ul>
        <ul class="list-group list-group-horizontal mt-3">
            <li class="list-group-item bg-primary text-white"> عدد الطلاب </li>
            <li class="list-group-item">@Model.TripBooking.StudentsParticipatingInTrips.Count() </li>
            <li class="list-group-item bg-primary text-white">نوع الرحلة </li>
            <li class="list-group-item">@Model.TripBooking.SchedulingTripDetail.TripType.Name </li>


        </ul>
        <hr />
        <h3 class="mt-2">توقيعات الخطاب</h3>
        @if (Model.NotificationLetters.Any())
        {
            foreach (var noti in Model.NotificationLetters)
            {


                @await Html.PartialAsync("SignutresFoods/_Sig.cshtml", noti)



            }

        }
    </div>
    <div class="card-footer text-white">
 

        <a class="btn  btn-primary  text-white  mt-3" asp-route-LetterId="@Model.Id" asp-controller="LetterFoods" asp-action="Print">
            <i class="fas fa-eye"></i>
            عرض الخطاب
        </a>
    </div>
</div>

