@model IEnumerable<AActivity.Models.Letter>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@functions{
    string  getTypeName(int typeInt)
    {
        string typeName;
        switch (typeInt)
        {
            case 1:
                typeName= "تأمين وسيلة نقل";
                break;
            case 2:
            typeName= "تأمين تغذية ";
            break;
            default:
                typeName="";
                break;
        };
        return typeName;
    }

   string  getControllerName(int typeInt)
    {
          string typeName;
        switch (typeInt)
        {
            case 1:
                typeName= "LetterTransports";
                break;
            case 2:
                typeName= "LetterFoods";
                break;
            default:
                typeName="";
                break;
        };
        return typeName;
    
    }
}

<div class="mt-5 mb-3">
    <p class="d-inline text-secondary "> <i class="fas fa-envelope-open-text fa-2x"></i>
    الخطابات
    </p>

</div>

<table class="table table-bordered table-hover text-center">
    <thead class=" bg-primary text-white">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.TypeLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoMersal)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <th>@i</th>

                <td>
                    @getTypeName(item.TypeLetter)
                 
                </td>

                <td>
                    @if (item.NoMersal == 0)
                    {
                        <span class="text-danger">انتظار التواقيع</span>
                    }
                    else
                    { @item.NoMersal}
                </td>
                <td>

                    <a asp-action="Details" asp-controller="@getControllerName(item.TypeLetter)" asp-route-letterId="@item.Id">
                        <i class="fas fa-eye"></i>
                    </a> 

                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
