@model IEnumerable<AActivity.Areas.Sociologist.ModelViews.LettersModelView>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="mt-5 mb-3">
    <p class="d-inline text-secondary "> <i class="fas fa-envelope-open-text fa-2x"></i>
    الخطابات
    </p>

</div>

<table class="table table-bordered table-hover text-center">
    <thead class=" bg-primary text-white">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.TripId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeLetter)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {


            int i = 1;

            @foreach (var letter in Model)
            {
                if (!letter.NotificationLettersStatus && letter.NotificationLettersUserId == ViewBag.userId)
                {
                    <tr>
                        <th>@i</th>
                        <td>@letter.TripId</td>
                        <td>@letter.EducationBody</td>
                        <td>@letter.TripType</td>
                        <td>@letter.TypeLetter</td>

                        <td>
                            <a asp-action="Details" asp-controller="@letter.ControlleName" asp-route-letterId="@letter.LetterId">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    i++;
                }
             


            }

        }
        else
        {
            <tr>
                <th colspan="6">لاتوجد خطابات</th>
            </tr>
        }
    </tbody>
</table>
