@model AActivity.Models.TripBooking

@{
    ViewData["Title"] = "انشاء";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-5 mb-3">
    <h5 class="card-header bg-primary-bold ">
        <i class="fas fa-plus"></i>
        حجز رحلة
    </h5>
    <div class="card-body">
        <ul class="list-group list-group-horizontal-md mt-3 mb-3">
            <li class="list-group-item bg-primary text-white">الجهة التعليمية</li>
            <li class="list-group-item">@ViewBag.trip.EducationalBody.Name</li>
            <li class="list-group-item bg-primary text-white">نوع الرحلة</li>
            <li class="list-group-item">@ViewBag.trip.TripType.Name</li>
            <li class="list-group-item bg-primary text-white"> تاريخ انطلاق الرحلة</li>
            <li class="list-group-item">
                @ViewBag.trip.TripDate.ToString("dd - MM - yyyy")
            </li>
        </ul>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" hidden>
                <label asp-for="SchedulingTripDetailId" class="control-label"></label>
                <select asp-for="SchedulingTripDetailId" class="form-control form-control-lg" asp-items="ViewBag.SchedulingTripDetailId"></select>
            </div>
            <div class="form-group" >
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control form-control-lg" asp-items="ViewBag.CityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TripToDate" class="control-label"></label>
                <input asp-for="TripToDate" readonly value="@ViewBag.trip.TripDate.AddDays(ViewBag.QtyDaysTrip).ToShortDateString()" id="TripToDate" type="text" class="form-control form-control-lg" />
                <span asp-validation-for="TripToDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TripQtyDays" class="control-label"></label>
                <input asp-for="TripQtyDays" readonly value="@ViewBag.QtyDaysTrip" class="form-control form-control-lg" />
                <span asp-validation-for="TripQtyDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TripLocationName" class="control-label"></label>
                <input asp-for="TripLocationName" class="form-control form-control-lg" />
                <span asp-validation-for="TripLocationName" class="text-danger"></span>
            </div>

            <div class="form-group col-12 mt-5">

                <button class="btn btn-outline-gold  btn-lg" style="cursor:pointer"> <i class="fas fa-save"></i>   احفظ </button>

                <a class="btn  btn-outline-primary btn-lg" asp-action="Index"> <i class="fas fa-share-square"></i> تراجع </a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



 

}