@model AActivity.Models.TripFood

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TripFood</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Letter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Letter.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtyMeals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtyMeals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMeal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstMeal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastMeal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastMeal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMealText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstMealText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastMealText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastMealText)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
