@model IEnumerable<AActivity.Models.TripFood>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Letter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtyMeals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMeal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastMeal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMealText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastMealText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Letter.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyMeals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMeal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMeal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMealText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMealText)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
