@model IEnumerable<AActivity.Models.TripDelegate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.dataTables_wrapper div.dataTables_filter label {
        float: left;
    }

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
</style>
<div class="mt-5 mb-3">
    <p class="d-inline text-secondary "> <i class="fas fa-users fa-2x text-muted"></i>    المنتدبين المشاركين في الرحلة </p>


    <p class="d-inline">

        <a class="btn btn-outline-success btn-lg float-left ml-2 "
           data-toggle="modal" data-target="#CreateTrips" href="#">
            <i class="fas fa-plus"></i>    اضافة منتدبين
        </a>


        @if (User.IsInRole("Admin"))
        {
            <a class="btn  btn-outline-primary float-left ml-2 btn-lg" asp-area="Sociologist" asp-controller="TripDelegates" asp-action="Create" asp-route-bokingId="@ViewBag.TripBoking.Id">
                <i class="fas fa-plus"></i>    اضافة منتدبين
            </a>
        }
        else if (User.IsInRole("Supervisor"))
        {
            @if (ViewBag.TripBoking.TripStatus == 0)
            {
                <a class="btn  btn-outline-primary float-left ml-2 btn-lg" asp-area="Sociologist" asp-controller="TripDelegates" asp-action="Create" asp-route-bokingId="@ViewBag.TripBoking.Id">
                    <i class="fas fa-plus"></i>    اضافة منتدبين
                </a>
            }
        }
        else if (User.IsInRole("DirectorOfSocialActivity") || User.IsInRole("SocialActivityOfficer"))
        {
            @if (ViewBag.TripBoking.TripStatus == 1)
            {
                <a class="btn  btn-outline-primary float-left ml-2 btn-lg" asp-area="Sociologist" asp-controller="TripDelegates" asp-action="Create" asp-route-bokingId="@ViewBag.TripBoking.Id">
                    <i class="fas fa-plus"></i>    اضافة منتدبين
                </a>
            }
        }

        <a class="btn  btn-outline-primary float-left ml-2 btn-lg" asp-area="Sociologist" asp-controller="SchedulingTripDetails" asp-action="DetailsMore" asp-route-id="@ViewBag.TripBoking.SchedulingTripDetailId"> <i class="fas fa-share-square"></i> تراجع </a>



    </p>


</div>
<div class="clearfix"></div>
<hr />
@{ int i = 1;}
<div class="table-responsive-sm">

    @if (TempData["error"] != null)
    {
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
    }

    <table class="table  table-hover table-bordered table-striped " id="table">
        <thead class="table-primary ">
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JopName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsFromEducationBody)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
            <tr>
                <th>@i</th>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JopName)
                </td>
                <td>
                    @if (item.IsFromEducationBody == true)
                    {
                        <spa>الجهات التعليمية</spa>
                    }
                    else
                    {
                        <spa>العمادة </spa>

                    }
                </td>

                <td>
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">حذف</a>
                    <a asp-action="Edit" class="btn btn-success btn-sm" asp-route-id="@item.Id">تعديل</a>
                </td>


            </tr>
                    i++;

                }

            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">
                        لايوجد بيانات
                    </td>
                </tr>
            }

        </tbody>

    </table>

</div>


<div class="modal  fade" id="CreateTrips">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-center">
                    عدد المنتدبين

                </h4>
            </div>

            <div class="alert alert-danger">
                <h5>
                    عدد الطلاب المشاركين في الرحلة  : @ViewBag.countStudend
                </h5>
                <h6>
                    <strong>الطلاب في الباص الواحد (@ViewBag.settingForTrip.QtyPassengersInOneBus - 50)</strong>
                </h6>
                <h6>
                    <strong>الكليات</strong> : منتدب (@ViewBag.settingForTrip.QtyCollegesDelegates) في كل باص
                </h6>
                <h6>
                    <strong>المعاهد والدور</strong> : منتدبين (@ViewBag.settingForTrip.QtyInstitutesDelegates) في كل باص

                </h6>
            </div>
            <form asp-action="Adapter" asp-controller="TripDelegates">
                <div class="modal-body">



                    <input type="hidden" name="bokingId" value="@ViewBag.TripBoking.Id" />

                    <div class="form-group  col-12 mt-5">

                        <div class="form-group">
                            <label class="control-label"> عدد المنتدبين  </label>
                            <input lang="en" type="number" min="1" name="count" class="form-control" />
                        </div>


                    </div>



                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-success  " style="cursor:pointer"> <i class="fas fa-plus"></i>   اضافة  منتدبين </button>

                    <a class="btn btn-outline-info " data-dismiss="modal"> <i class="fas fa-redo"></i> تراجع</a>

                </div>
            </form>
        </div>
    </div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


        <partial name="~/Views/Shared/_DatatableJqueryPartial.cshtml" />

    }
