@model List<AActivity.Areas.Sociologist.ModelViews.LetterDelegationCreateModelView>
@{
    ViewData["Title"] = "انشاء";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div></div>
<div class="card mt-5">
    <div class="card-header bg-primary-bold text-white ">
        <i class="fas fa-plus"></i>
        خطاب انتداب جماعي لمهمة رسمية
    </div>
    <div class="card-body">



        <form asp-action="Create" asp-controller="LetterDelegations">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="@Model[0].EducationBody" class="control-label"></label>
                    <input asp-for="@Model[0].EducationBody" class="form-control" readonly />
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="@Model[0].TripType" class="control-label"></label>
                    <input asp-for="@Model[0].TripType" class="form-control" readonly />
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="@Model[0].FromCity" class="control-label"></label>
                    <input asp-for="@Model[0].FromCity" class="form-control" readonly />
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="@Model[0].ToCityName" class="control-label"></label>
                    <input asp-for="@Model[0].ToCityName" class="form-control" readonly />
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="@Model[0].TripDate" class="control-label"></label>
                    <input type="text" asp-for="@Model[0].TripDate" value="@Model[0].TripDate.ToString("yyyy-MM-dd")" class="form-control" readonly />
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="@Model[0].Duration" class="control-label"></label>
                    <input asp-for="@Model[0].Duration"  class="form-control" readonly />
                </div>
            </div>
            <hr />
            <h6>المنتدبين</h6>
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>رقم الموظف</th>
                        <th>الإسم</th>
                        <th>المسمى الوظيفي</th>
                        <th>تأكيد الإنتداب</th>
                    </tr>
                </thead>
                <tbody>

                    @{ int j = 1;}
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <input hidden type="hidden" asp-for="@Model[i].BokingId" class="form-control" />
                        <input hidden type="hidden" asp-for="@Model[i].Id" class="form-control" />
                        <tr class="text-center">

                            <th>@j</th>
                            <td>@Model[i].EmployeeNumber</td>
                            <td>@Model[i].EmployeeName</td>
                            <td> @Model[i].JopName</td>
                            <td style="width:15%" class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" asp-for="@Model[i].Confirmed">
                                    <label class="custom-control-label" asp-for="@Model[i].Confirmed">
                                        نعم
                                    </label>
                                </div>
                            </td>

                        </tr>


                        j++;
                    }
                </tbody>
            </table>



            <div class="form-group col-12 mt-5">

                <button class="btn btn-outline-gold  btn-lg" style="cursor:pointer"> <i class="fas fa-save"></i>   احفظ </button>

                <a class="btn  btn-outline-primary btn-lg" asp-action="IndexByBoking" asp-route-bokingId="@Model[0].BokingId" asp-controller="Letters"> <i class="fas fa-share-square"></i> تراجع </a>

            </div>
        </form>


    </div>
</div>