<li>
    @model AActivity.Models.SchedulingTripDetail

    <i class="fa fa-users bg-blue"></i>
    <div class="timeline-item">

        <h3 class="timeline-header">
            <i class="fas fa-users"></i>

            المشاركين في الرحلة
        </h3>

        <div class="timeline-body">
            <div class="row">

                <div class="col">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary "><i class="fa fa-users text-white"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-text mb-4 ">الطلاب </span>
                            <span class="info-box-number font-weight-bolder ">
                                @if (Model.TripBookings.Any())
                                {
                                    @Model.TripBookings.FirstOrDefault().StudentsParticipatingInTrips.Count()
                                }
                                else
                                {
                                    @:0
                                }
                            </span>
                        </div>
                    </div>
                </div>



                <div class="col">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary "><i class="fa fa-users text-white"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-text mb-4">منتدبين الجهة </span>
                            <span class="info-box-number font-weight-bolder ">
                                @Model.TripBookings.FirstOrDefault().TripDelegates.Where(t => t.IsFromEducationBody == true).Count()
                            </span>

                        </div>
                    </div>
                </div>





                <div class="col">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary "><i class="fa fa-users text-white"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-text mb-4 ">منتدبين العمادة </span>
                            <span class="info-box-number font-weight-bolder ">
                                @Model.TripBookings.FirstOrDefault().TripDelegates.Where(t => t.IsFromEducationBody == false).Count()

                            </span>

                        </div>
                    </div>
                </div>

                <div class="col-12 m-2">
                    <a class="btn btn-primary btn-lg" asp-route-bokingId="@Model.TripBookings.FirstOrDefault().Id" asp-controller="StudentsParticipatingInTrips" asp-action="index">الطلاب</a>

                    <a class="btn btn-success btn-lg" asp-route-bokingId="@Model.TripBookings.FirstOrDefault().Id" asp-controller="TripDelegates" asp-action="index">المنتدبين</a>

                </div>
            </div>
        </div>
        <ul class="list-group  text-white">
            <li class="list-group-item">
                @{int td = Model.TripBookings.FirstOrDefault().TripDelegates.Count();}
                @if (td == 0)
                {
                    <span class="text-primary font-weight-bold">
                        لتاكيد الحجز :
                        1- اضافة طلاب  .
                        2- اضافة منتدبين
                    </span>
                }
                else if (Model.TripBookings.FirstOrDefault().TripStatus == 0)
                {
                    @if (User.IsInRole("Supervisor") || User.IsInRole("Admin"))
                    {
                        <form asp-action="BookingConfirmed" asp-controller="TripBookings" asp-route-id="@Model.TripBookings.FirstOrDefault().Id">


                            <span id="confirmDeleteSpan_@Model.TripBookings.FirstOrDefault().Id" style="display:none">
                                <span class="text-center text-danger font-weight-bold">هل انت متاكد من تأكيد الحجز ؟</span>
                                <button type="submit" class="btn btn-danger btn-lg">نعم</button>
                                <a href="#" class="btn btn-primary btn-lg" onclick="confirmDelete('@Model.TripBookings.FirstOrDefault().Id',false)">لا</a>
                            </span>
                            <span id="deleteSpan_@Model.TripBookings.FirstOrDefault().Id">
                                <a class="btn  btn-danger btn-lg " onclick="confirmDelete('@Model.TripBookings.FirstOrDefault().Id',true)">
                                    <i class="fas fa-question-circle"></i>
                                    تأكيد الحجز
                                </a>
                            </span>
                        </form>
                    }
                    @if (User.IsInRole("DirectorOfSocialActivity") || User.IsInRole("SocialActivityOfficer"))
                    {
                        <span class="text-center text-muted font-weight-bold">
                            انتظار تاكيد الحجز من قبل الجهة التعليمية
                        </span>
                    }
                }
                else
                {
                    <span class="text-center text-success font-weight-bold">
                        الحجز مؤكد من قبل الجهة
                    </span>
                }

            </li>
        </ul>
    </div>

</li>

