

<li>
    @model AActivity.Models.SchedulingTripDetail

    <i class="fa fa-photo-video bg-blue"></i>
    <div class="timeline-item">

        <h3 class="timeline-header">
            <i class="fas fa-photo-video"></i>

            تقرير الرحلة
        </h3>

        <div class="timeline-body">
            <div class="row">


                @if (Model.TripBookings.FirstOrDefault().TripReports.Any())
                {
                    <div class="col-12">
                        <p class="font-weight-lighter">
                            @Html.Raw(Model.TripBookings.FirstOrDefault().TripReports.FirstOrDefault().TextBody)
                        </p>
                    </div>
                    <hr />
                    if (Model.TripBookings.FirstOrDefault().TripReports.FirstOrDefault().TripReportImages.Any())
                    {
                        foreach (var img in Model.TripBookings.FirstOrDefault().TripReports.FirstOrDefault().TripReportImages)
                        {

                            <div class="col-3 text-center">
                                <img src="~/img/reports/400/@img.ImagePath" alt="صورة" class="img-thumbnail">

                            </div>

                        }
                    }

                }

            </div>


        </div>


        <ul class="list-group  text-white">
            <li class="list-group-item">
                @if (User.IsInRole("Supervisor") || User.IsInRole("Admin"))
                {
                    if (Model.TripBookings.FirstOrDefault().TripReports.Any())
                    {
                        int status = Model.TripBookings.FirstOrDefault().TripReports.FirstOrDefault().Status;
                        if (status == 0 || status == 2)
                        {
                            <a class="btn  btn-primary btn-lg"
                               asp-action="Edit" asp-controller="TripReports" asp-route-reportId="@Model.TripBookings.FirstOrDefault().TripReports.FirstOrDefault().Id">
                                تعديل التقرير
                            </a>
                        }
                        else
                        {
                            <span>تم قبول التقرير</span>
                        }

                    }
                    else
                    {
                        <a class="btn  btn-primary btn-lg"
                           asp-action="Create" asp-controller="TripReports" asp-route-bokingId="@Model.TripBookings.FirstOrDefault().Id">
                            اضافة تقرير
                        </a>
                    }

                }

                @if (!User.IsInRole("Supervisor"))
                {
                    @if (Model.TripBookings.FirstOrDefault().TripReports.Any())
                    {
                        var repo = Model.TripBookings.FirstOrDefault().TripReports.FirstOrDefault();
                        <form class="mt-3" asp-action="StatusUpdate" asp-controller="TripReports">

                            <input name="reportId" value="@repo.Id" hidden />
                            <input name="bookingId" value="@repo.TripBookingId" hidden />
                            <span id="confirmDeleteSpan_@Model.TripBookings.FirstOrDefault().TripReports.FirstOrDefault().Id" style="display:none">
                                <select name="Status" class="form-control mb-3">
                                    <option value="0">الرجاء الإختيار </option>
                                    <option value="1">مقبول </option>
                                    <option value="2">غير مقبول </option>
                                </select>
                                <button type="submit" class="btn btn-danger mybutten btn-lg">ارسال</button>
                                <a href="#" class="btn btn-primary mybutten btn-lg" onclick="confirmDelete('@Model.TripBookings.FirstOrDefault().TripReports.FirstOrDefault().Id',false)">لا</a>
                            </span>
                            <span id="deleteSpan_@Model.TripBookings.FirstOrDefault().TripReports.FirstOrDefault().Id">
                                <a class="btn  btn-danger btn-lg mybutten" onclick="confirmDelete('@Model.TripBookings.FirstOrDefault().TripReports.FirstOrDefault().Id',true)">
                                    <i class="fas fa-question-circle"></i>
                                    حالة التقرير
                                </a>
                            </span>
                        </form>


                    }
                }

                @if (Model.TripBookings.FirstOrDefault().TripReports.Any())
                {
                    var reportStatus = Model.TripBookings.FirstOrDefault().TripReports.FirstOrDefault();
                    if (reportStatus.Status == 0)
                    {
                        <div class="alert alert-primary mt-3">انتظار قبول التقرير</div>
                    }
                    else if (reportStatus.Status == 2)
                    {
                        <div class="alert alert-danger  mt-3">
                            يجب التعديل في التقرير :
                            1 - الصور يجب ان تكون واضحة
                            2 - التقرير يجب ان يكون مفصل وشامل للرحلة
                        </div>

                    }
                    else
                    {
                        <div class="alert alert-success  mt-3"> التقرير مقبول </div>

                      
                            <a class="btn  btn-primary btn-lg"
                               asp-action="IndexByBoking" asp-controller="FinishWorks" asp-route-bokingId="@Model.TripBookings.FirstOrDefault().Id">
                                 انهاء مهمة
                            </a>
                        

                    }
                }
            </li>
        </ul>
    </div>
</li>

