@model AActivity.Models.Letter

@{
    int userId = int.Parse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value);
    var sig1 = Model.LetteSignutres.Where(s => s.WhoHasSignutre == 1).Count();
    var sig2 = Model.LetteSignutres.Where(s => s.WhoHasSignutre == 2).Count();

}
@functions{
    int IsHeDelegate(int userId, string roleName)
    {
        var Signutrelist = ViewBag.signutre as IEnumerable<AActivity.Models.Signature>;
        int status = 0;
        foreach (var s in Signutrelist)
        {
            if (s.UserId == userId && s.SignatureRole == roleName)
            {
                status = 1;
            }
        }
        return status;
    }
    int getSignutreId(int userId)
    {
        var Signutrelist = ViewBag.signutre as IEnumerable<AActivity.Models.Signature>;
        foreach (var s in Signutrelist)
        {
            if (s.UserId == userId)
            {
                return s.Id;
            }
        }
        return 0;
    }



}

@if (sig1 == 0)
{
    <div class="alert alert-danger ">
        <a class="btn  btn-danger  text-white ml-4" asp-controller="Letters" asp-action="Index">
            <i class="fas fa-caret-right"></i>
            رجوع
        </a>
        <i class="fas fa-times-circle"></i>
        انتظار توقيع رئيس قسم النشاط الإجتماعي

    </div>
}
else if (sig1 > 0 && sig2 == 0)
{
    <form asp-action="Create" asp-controller="LetterSignutres">
        <input hidden name="WhoHasSignutre" value="2" />
        <input hidden name="LetterId" value="@Model.Id" />
        <input hidden name="SignatureId" value="@getSignutreId(userId)" />
        <input hidden name="IsHeOwnerOfSignature" value="@IsHeDelegate(userId,"مدير إدارة النشاط")" />
        <input hidden name="ControllerName" value="LetterFoods" />
        <span id="confirmDeleteSpan_@Model.Id" style="display:none">
            <span class="text-center text-danger font-weight-bold">هل تريد التوقيع ؟</span>
            <button type="submit" class="btn btn-danger btn-sm">نعم</button>
            <a href="#" class="btn btn-primary btn-sm" onclick="confirmDelete('@Model.Id',false)">لا</a>
        </span>
        <span id="deleteSpan_@Model.Id">
            <a class="btn  btn-primary  text-white " asp-controller="Letters" asp-action="Index">
                <i class="fas fa-caret-right"></i>
                رجوع
            </a>

            <a class="btn  btn-danger text-white " onclick="confirmDelete('@Model.Id',true)">
                <i class="fas fa-question-circle"></i>
                توقيع
            </a>

        </span>
    </form>
}
else
{
    <div class="alert alert-success ">
        <a class="btn  btn-success  text-white ml-4" asp-controller="Letters" asp-action="Index">
            <i class="fas fa-caret-right"></i>
            رجوع
        </a>
        <i class="fas fa-check-circle"></i>
        تم التوقيع

    </div>
}