@model IEnumerable<AActivity.Models.Signature>


@{
    ViewData["Title"] = " التواقيع  ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="mt-5 mb-3">
    <p class="d-inline text-secondary "> <i class="fas fa-fingerprint text-muted fa-2x"></i>     التواقيع </p>


    <p class="d-inline">
        <a class="btn btn-outline-primary btn-lg float-left " asp-action="Create"> <i class="fas fa-plus"></i>     توقيع جديد</a>
    </p>


</div>
@{ int i = 1;}
<table class="table  table-hover table-bordered table-striped ">
    <thead class="table-primary ">
        <tr class="text-center">
            <th>#</th>
          
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SignaturePhoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
        <tr class="text-center">
            <th class="pt-5">@i</th>
         
            <td class="pt-5">
                @Html.DisplayFor(modelItem => item.Degree)
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                <img asp-append-version="true" alt="الصورة" src="~/img/signatures/@item.SignaturePhoto" width="100" height="100" />

            </td>
            <td class="pt-5">
                <a asp-action="Edit" class="btn btn-sm btn-outline-success" asp-route-id="@item.Id">

                    <i class="fas fa-edit"></i>
                    تعديل
                </a>

                <a asp-action="Delete" class="btn btn-sm btn-outline-danger" asp-route-id="@item.Id">
                    <i class="fas fa-trash"></i>
                    حذف
                </a>
            </td>
        </tr>
                i++;
            } 

        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">
                    لايوجد بيانات
                </td>
            </tr>
        }
    </tbody>
</table>