@model AActivity.Models.Letter

@{
    var signature = Model.TripTransportSignatures.Where(d => d.StatusSignature == 3).FirstOrDefault();
}

@if (signature != null)
{

    <img class="" width="90px" height="90px" src="~/img/signatures/b8023ebe-3727-4adb-aea6-853c65a60bed_Signature_of_Ziad_Hussein.png" />
   
    <form class="formhidden" asp-action="Delete" asp-controller="TripTransportSignatures" asp-route-id="@signature.Id">
        <input hidden name="bokingId" value="@Model.TripBookingId" />

        <span id="confirmDeleteSpan_@signature.Id" style="display:none">
            <span class="text-center text-danger font-weight-bold">هل تريد الغاءالتوقيع ؟</span>
            <button type="submit" class="btn btn-danger btn-sm">نعم</button>
            <a href="#" class="btn btn-primary btn-sm" onclick="confirmDelete('@signature.Id',false)">لا</a>
        </span>
        <span id="deleteSpan_@signature.Id">
            <a class="btn  btn-danger btn-sm text-white " onclick="confirmDelete('@signature.Id',true)">
                <i class="fas fa-question-circle"></i>
                الغاءالتوقيع
            </a>
        </span>
    </form>
}
else
{

    <form class="formhidden" asp-action="Create" asp-controller="TripTransportSignatures" asp-route-LetterId="@Model.Id">

        <input hidden name="StatusSignature" value="3" />
        <input hidden name="bokingId" value="@Model.TripBookingId" />
        <span id="confirmDeleteSpan_@Model.Id" style="display:none">
            <span class="text-center text-danger font-weight-bold">هل تريد التوقيع ؟</span>
            <button type="submit" class="btn btn-danger btn-sm">نعم</button>
            <a href="#" class="btn btn-primary btn-sm" onclick="confirmDelete('@Model.Id',false)">لا</a>
        </span>
        <span id="deleteSpan_@Model.Id">
            <a class="btn  btn-danger btn-sm text-white " onclick="confirmDelete('@Model.Id',true)">
                <i class="fas fa-question-circle"></i>
                توقيع
            </a>
        </span>
    </form>


}


