@model AActivity.Models.Letter



@{

    var signature3 = Model.TripTransportSignatures.Where(d => d.StatusSignature == 3).FirstOrDefault();
    var signature2 = Model.TripTransportSignatures.Where(d => d.StatusSignature == 2).FirstOrDefault();
    var signature1 = Model.TripTransportSignatures.Where(d => d.StatusSignature == 1).FirstOrDefault();

    int userId = int.Parse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value);


}


@functions{
    bool signutreRole(int user_id, string roleName)
    {
        var getSignutrelist = ViewBag.signutre as IEnumerable<AActivity.Models.Signature>;

        foreach (var b in getSignutrelist)
        {
            if (b.UserId == user_id && b.SignatureRole == roleName)
            {
                return true;
            }

            if (b.SignatureRole == roleName)
            {
                foreach (var c in b.SignutreDelegates.Where(s => s.SignatureId == b.Id).ToList())
                {
                    if (c.UserId == user_id)
                    {
                        if (c.Status == true && c.EndAtDate > DateTime.Now)
                        {
                            return true;

                        }
                    }
                }
            }

        }

        return false;

    }
}
<div class="card mt-5 mb-3">
    <h5 class="card-header bg-primary-bold ">
        <i class="fas fa-file-pdf"></i>
        تأمين وسيلة نقل
    </h5>
    <div class="card-body">
        <h5 class="text-center ">
            تأمين وسيلة نقل لفعاليات النشاط الاجتماعي

        </h5>
        <hr />
        <dl class="row">
            <dt class="col-sm-2 ">
                نوع الرحلة:
            </dt>
            <dd class="col-sm-2  mb-3">
                @Model.TripBooking.SchedulingTripDetail.TripType.Name
            </dd>
            <dt class="col-sm-2">
                الكلية :
            </dt>
            <dd class="col-sm-2 mb-3">
                @Model.TripBooking.SchedulingTripDetail.EducationalBody.Name
            </dd>
            <dt class="col-sm-2 mb-3">
                عدد الطلاب :
            </dt>
            <dd class="col-sm-2 mb-3">
                @Model.TripBooking.StudentsParticipatingInTrips.Count()
            </dd>

            <dt class="col-sm-2 mb-3">
                المشرف على الرحلة :
            </dt>
            <dd class="col-sm-4 mb-3">
                @Model.TripBooking.SchedulingTripDetail.EducationalBody.User.FullName
            </dd>
            <dt class="col-sm-2 mb-3">
                رقم الجوال :
            </dt>
            <dd class="col-sm-4 mb-3">
                @Model.TripBooking.SchedulingTripDetail.EducationalBody.User.PhoneNumber
            </dd>

            <dt class="col-sm-2 mb-3">
                رحلة إلى :
            </dt>
            <dd class="col-sm-4 mb-3">
                @Model.TripBooking.City.LocationName
            </dd>
            <dt class="col-sm-2 mb-3">
                التاريخ :
            </dt>
            <dd class="col-sm-4 mb-3">
                <em> @Model.TripBooking.SchedulingTripDetail.TripDate.ToString("dddd", ViewBag.cultureInfo)</em>
                @Model.TripBooking.SchedulingTripDetail.TripDate.ToString("dd - MM - yyyy")
            </dd>

            <dt class="col-sm-2 mb-3">
                عدد الباصات :
            </dt>
            <dd class="col-sm-4 mb-3">
                @ViewBag.countBus
            </dd>


        </dl>
        @if (signutreRole(userId, "رئيس قسم النشاط الاجتماعي"))
        {
            if (signature3 == null)
            {
                <form class="formhidden" asp-action="Create" asp-controller="TripTransportSignatures" asp-route-LetterId="@Model.Id">

                    <input hidden name="StatusSignature" value="3" />
                    <input hidden name="bokingId" value="@Model.TripBookingId" />
                    <span id="confirmDeleteSpan_@Model.Id" style="display:none">
                        <span class="text-center text-danger font-weight-bold">هل تريد التوقيع ؟</span>
                        <button type="submit" class="btn btn-danger btn-sm">نعم</button>
                        <a href="#" class="btn btn-primary btn-sm" onclick="confirmDelete('@Model.Id',false)">لا</a>
                    </span>
                    <span id="deleteSpan_@Model.Id">
                        <a class="btn  btn-danger btn-sm text-white " onclick="confirmDelete('@Model.Id',true)">
                            <i class="fas fa-question-circle"></i>
                            توقيع
                        </a>
                    </span>
                </form>
            }
            else
            {
                <h3>
                    <span class="badge badge-success">
                        <i class="fa fa-fingerprint"></i>

                        تم  التوقيع
                    </span>
                </h3>
            }
        }
        else if (signutreRole(userId, "مدير إدارة النشاط"))
        {
            @if (signature3 != null && signature2 == null)
            {
                <form class="formhidden" asp-action="Create" asp-controller="TripTransportSignatures" asp-route-LetterId="@Model.Id">

                    <input hidden name="StatusSignature" value="2" />
                    <input hidden name="bokingId" value="@Model.TripBookingId" />
                    <span id="confirmDeleteSpan_@Model.Id" style="display:none">
                        <span class="text-center text-danger font-weight-bold">هل تريد التوقيع ؟</span>
                        <button type="submit" class="btn btn-danger btn-sm">نعم</button>
                        <a href="#" class="btn btn-primary btn-sm" onclick="confirmDelete('@Model.Id',false)">لا</a>
                    </span>
                    <span id="deleteSpan_@Model.Id">
                        <a class="btn  btn-danger btn-sm text-white " onclick="confirmDelete('@Model.Id',true)">
                            <i class="fas fa-question-circle"></i>
                            توقيع
                        </a>
                    </span>
                </form>
            }
            else
            {
                <h3>
                    <span class="badge badge-success">
                        <i class="fa fa-fingerprint"></i>

                        تم  التوقيع
                    </span>
                </h3>
            }
        }
        else if (signutreRole(userId, "وكيل العمادة لشؤون النشاط"))
        {
            if (signature3 != null && signature2 != null && signature1 == null)
            {
                <form class="formhidden" asp-action="Create" asp-controller="TripTransportSignatures" asp-route-LetterId="@Model.Id">

                    <input hidden name="StatusSignature" value="1" />
                    <input hidden name="bokingId" value="@Model.TripBookingId" />
                    <span id="confirmDeleteSpan_@Model.Id" style="display:none">
                        <span class="text-center text-danger font-weight-bold">هل تريد التوقيع ؟</span>
                        <button type="submit" class="btn btn-danger btn-sm">نعم</button>
                        <a href="#" class="btn btn-primary btn-sm" onclick="confirmDelete('@Model.Id',false)">لا</a>
                    </span>
                    <span id="deleteSpan_@Model.Id">
                        <a class="btn  btn-danger btn-sm text-white " onclick="confirmDelete('@Model.Id',true)">
                            <i class="fas fa-question-circle"></i>
                            توقيع
                        </a>
                    </span>
                </form>
            }
            else
            {
                if (signature1 != null)
                {
                    <h3>
                        <span class="badge badge-success">
                            <i class="fa fa-fingerprint"></i>

                            تم  التوقيع
                        </span>
                    </h3>
                }

            }
        }

        <a class="btn btn-primary btn-lg mt-4" asp-route-bokingId="@Model.TripBookingId" target="_blank" asp-controller="TripTransportSignatures" asp-action="Print">عرض / طباعة </a>

    </div>
</div>


