@model AActivity.Models.Letter
@inject IEnumerable<AActivity.Models.Signature> signutreRole

@{
    ViewData["Title"] = "تأمين نقل";
    Layout = "~/Views/Shared/_Layout.cshtml";

    signutreRole = ViewBag.signutre;
}
@functions{
    string typeTrip(int id)
    {
        int tripId = Model.TripBooking.SchedulingTripDetail.TripTypeId;

        if (tripId == id) { return ""; }


        else return "hidden";
    }

    string typeTripColor(int id)
    {
        int tripId = Model.TripBooking.SchedulingTripDetail.TripTypeId;

        if (tripId == id) { return ""; }


        else return "text-success";
    }



    string signutreRoleName(string role)
    {
        foreach (var sr in signutreRole)
        {
            if (sr.SignatureRole == role)
            {
                return $"{sr.Degree}  {sr.User.FullName}";
            }
        }
        return string.Empty;

    }


}

<style>
    .hidden {
        display: none;
    }
</style>

<button id="print" class="btn btn-outline-gold"><i class="fa fa-print fa-3x"></i></button>
<hr class="text-gold" />
<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
    <table id="table" class="ar">
        <thead>
            <tr>
                <th colspan="4">
                    <img src="~/img/letter/letterHeade.PNG" width="100%" height="50%"/>
                </th>
            </tr>
            <tr class="text-center">
                <th colspan="4" class="p-5">
                    <h5> نموذج طلب تأمين وسيلة نقل لفعاليات النشاط الاجتماعي</h5>
                </th>
            </tr>

        </thead>
        <tbody class="table table-bordered  ">
            <tr class="text-center">
                <td class="font-weight-bold p-3">

                    <span class="badge badge-pill p-2 ">
                        <i class="far fa-check-circle text-success  @typeTrip(1)"></i>
                    </span>
                    رحلة عمرة
                </td>
                <td class="font-weight-bold p-3">
                    <span class="badge badge-pill p-2 badge-secondary"><i class="far fa-check-circle text-success @typeTrip(2) "></i></span>
                    رحلة داخلية
                </td>
                <td class="font-weight-bold p-3">
                    <span class="badge badge-pill p-2 badge-secondary"><i class="far fa-check-circle text-success @typeTrip(3)"></i></span>
                    رحلة خارجية
                </td>
                <td class="font-weight-bold p-3">
                    <span class="badge badge-pill p-2 badge-secondary">
                        <i class="far fa-check-circle text-success @typeTrip(4)"></i>
                    </span>
                    زيارة
                </td>


            </tr>
            <tr class="text-center">
                <th colspan="2" class="p-3">
                    كلية / @Model.TripBooking.SchedulingTripDetail.EducationalBody.Name
                </th>
                <th colspan="2">
                    عدد الطلاب / <span>@Model.TripBooking.StudentsParticipatingInTrips.Count()</span> طالب
                </th>
            </tr>
            <tr class="text-center">
                <th colspan="2" class="p-3">
                    المشرف على الرحلة/  @Model.TripBooking.SchedulingTripDetail.EducationalBody.User.FullName
                </th>
                <th colspan="2">
                    رقم الجوال /  @Model.TripBooking.SchedulingTripDetail.EducationalBody.User.PhoneNumber
                </th>
            </tr>
        </tbody>
        <tbody class="border-bottom ">
            <tr>
                <th colspan="4">
                    <p class="pt-3 lead">
                        <span class="ml-5 ">  سعادة مدير إدارة النشاط</span>
                        <br />
                        <span class="ml-5">السلام عليكم ورحمة الله وبركاته </span>  <span class="ml-5">وبعد.</span>
                        <br />
                        <span class="ml-5">
                            نظرًا لقيام رحلة إلى<em>
                                @Model.TripBooking.City.LocationName
                            </em>
                        </span>
                        <span class="ml-5">يوم/ <em> @Model.TripBooking.SchedulingTripDetail.TripDate.ToString("dddd", ViewBag.cultureInfo)</em></span>
                        <span>الموافق/  <em>@Model.TripBooking.SchedulingTripDetail.TripDate.ToString("dd - MM - yyyy", ViewBag.cultureInfo)  هـ. </em></span>
                        <span>لفعاليات النشاط الاجتماعي.</span>
                        <br />
                        <span class="ml-5 ">آمل من سعادتكم التكرم بتأمين عدد / @ViewBag.countBus <em>   </em></span>
                        <span>  باصات للرحلة المذكورة أعلاه  .</span>
                        <br />
                        <span class="ml-5"> </span>
                        <span class="ml-5"> </span>
                        <span class="ml-5"> </span>
                        <span class="ml-5"> وفق الله الجميع؛؛؛ </span>
                        <br />
                        <span class="ml-5"> </span>
                        <span class="ml-5"> </span>
                        <span class="ml-5"> </span>
                        <span class="ml-2">والسلام عليكم ورحمة الله وبركاته </span>



                    </p>






                    <div class=" float-left text-center" style="width:30%">

                        <p class="  lead ">
                            <span class=" ">رئيس قسم النشاط الاجتماعي</span>
                        </p>

                        @await Html.PartialAsync("_Create3.cshtml", Model)

                        <p class="  lead ">
                            <span class=" mr-5">
                                @signutreRoleName("رئيس قسم النشاط الاجتماعي")
                            </span>
                        </p>
                    </div>

                </th>
            </tr>
        </tbody>
        <tbody class="border-bottom">
            <tr>
                <th colspan="4">
                    <p class="lead p-3">
                        <span class="ml-5">مع التحية لسعادة وكيل العمادة لشؤون النشاط   </span>
                        <br />
                        <span class="ml-5">       آمل من سعادتكم التكرم بالاطلاع والتوجيه .  </span>
                    </p>
                    <div class=" float-left text-center" style="width:30%">

                        <p class="  lead ">
                            <span class=" ">مدير إدارة النشاط</span>
                        </p>

                        @await Html.PartialAsync("_Create2.cshtml", Model)

                        <p class="  lead ">
                            <span class=" mr-5">
                                @signutreRoleName("مدير إدارة النشاط")
                            </span>
                        </p>
                    </div>

                </th>
            </tr>
      
            <tr class="border-top">
                <th colspan="4">
                    <p class="lead p-3">
                        <span class="ml-5">مع التحية لسعادة المشرف على إدارة المدينة الجامعية           </span>
                        <br />
                        <span class="ml-5">       آمل من سعادتكم التكرم بالاطلاع والتوجيه .  </span>
                    </p>
                    <div class=" float-left text-center" style="width:30%">

                        <p class="  lead ">
                            <span class=" ">وكيل العمادة لشؤون النشاط</span>
                        </p>

                        @await Html.PartialAsync("_Create1.cshtml", Model)

                        <p class="  lead ">
                            <span class=" mr-5">
                                @signutreRoleName("وكيل العمادة لشؤون النشاط")
                            </span>
                        </p>
                    </div>

                </th>
            </tr>
        </tbody>
        <tfoot>
            <tr class="mt-5">
                <th colspan="4">
                    <img src="~/img/letter/letterfooter.PNG"/>
                </th>
            </tr>
        </tfoot>
    </table>

</div>




@section Scripts{
    <script src="~/lib/printThis/printThis.js"></script>

    <script>
        $('#print').click(function () {
            $('.clorSuccess').addClass(" text-success")
            $("#table").printThis({
                debug: false,               // show the iframe for debugging
                importCSS: true,            // import parent page css
                importStyle: true,         // import style tags
                printContainer: true,       // print outer container/$.selector
                loadCSS: "",                // path to additional css file - use an array [] for multiple
                pageTitle: "",              // add title to print page
                removeInline: false,        // remove inline styles from print elements
                removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
                printDelay: 333,            // variable print delay
                header: null,               // prefix to html
                footer: null,               // postfix to html
                base: false,                // preserve the BASE tag or accept a string for the URL
                formValues: true,           // preserve input/form values
                canvas: false,              // copy canvas content
                doctypeString: '...',       // enter a different doctype for older markup
                removeScripts: false,       // remove script tags from print content
                copyTagClasses: false,      // copy classes from the html & body tag
                beforePrintEvent: null,     // function for printEvent in iframe
                beforePrint: null,          // function called before iframe is filled
                afterPrint: null            // function called before iframe is removed
            });

        });


    </script>
}

