@model IEnumerable<AActivity.Models.SignutreDelegate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-5 mb-3">
    <p class="d-inline text-secondary "> <i class="fas fa-fingerprint fa-2x"></i>    المفوضين بالتوقيع </p>

    @if (ViewBag.notSignutre != null)
    {
        <div class="alert alert-danger mt-3">@ViewBag.notSignutre</div>
    

    }
    else
    {
        <p class="d-inline">
            <a class="btn btn-outline-primary btn-lg float-left " asp-action="Create"> <i class="fas fa-plus"></i>     مفوض  جديد</a>
        </p>
    }



</div>
@{ int i = 1;}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartAtDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndAtDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <th>@i</th>

                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartAtDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndAtDate)
                    </td>
                    <td>
                        @if (item.Status == true && item.EndAtDate > DateTime.Now)
                        {

                            <i class="fa fa-check-circle text-success"></i>

                        }
                        else
                        {

                            <i class="fa fa-minus-circle text-danger"></i>

                        }
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-sm btn-outline-success" asp-route-id="@item.Id">

                            <i class="fas fa-edit"></i>
                            تعديل
                        </a>
                        @{ var TimeStamp = item.TimeStamp.ToString("dd-MM-yyy");


                            DateTime start = item.TimeStamp;
                            DateTime end = DateTime.Now;

                            TimeSpan difference = end - start; //create TimeSpan object
                        }
                        @if (difference.Hours <= 2)
                        {

                            <a asp-action="Delete" class="btn btn-sm btn-outline-danger" asp-route-id="@item.Id">
                                <i class="fas fa-trash"></i>
                                حذف
                            </a>
                        }

                    </td>
                </tr>
            } i++;

        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">
                    لايوجد بيانات
                </td>
            </tr>
        }
    </tbody>
</table>
